# PDBe API Training

### PDBe Similar proteins for a given protein

This tutorial will guide you through searching PDBe programmatically.


First we will import the code which will do the work
Run the cell below - by pressing the green play button.

In [4]:
import sys
sys.path.insert(0,'..')
from python_modules.api_modules import explode_dataset, pandas_dataset, get_similar_protein_data
import pandas as pd

Now we will find all the proteins with 40% or more sequence identity to Human Acetylcholinesterase (Uniprot accession: P22303).

In [19]:
uniprot_accession = 'P22303'
uniprot_accession
identity_cutoff = 40
results = get_similar_protein_data(uniprot_accession,identity_cutoff) 
df2 = explode_dataset(result=results[uniprot_accession], column_to_explode='mapped_segment')
data = pd.json_normalize(df2['mapped_segment'])
df = df2.join(data).drop(columns='mapped_segment')
df.head()

https://www.ebi.ac.uk/pdbe/graph-api/uniprot/similar_proteins//P22303/40

,unp_length,species,taxid,name,description,uniprot_id,sequence_identity,pdb_id,best_chain,unp_start,unp_end,entity_id
0,614,Mus musculus,10090,ACES_MOUSE,Acetylcholinesterase,P21836,70,1q83,A,1,580,1
1,586,Tetronarce californica,7787,ACES_TETCF,Acetylcholinesterase,P04058,50,7aiv,A,1,586,1
2,602,Homo sapiens,9606,CHLE_HUMAN,Cholinesterase,P06276,50,7aiy,A,1,602,1
3,614,Mus musculus,10090,ACES_MOUSE,Acetylcholinesterase,P21836,50,1q83,A,1,580,1
4,606,Bungarus fasciatus,8613,ACES_BUNFA,Acetylcholinesterase,Q92035,50,4qww,A,32,573,1

We can save the results to a CSV file which we can load into excel

In [20]:
df.to_csv("similar_proteins_project_aims_9.csv")

We can also filter this dataframe of similar proteins based on various column values like sequence_identity, taxid, species. For example, we can filter all the similar proteins from Human (taxid= 9606) as shown below.

In [21]:
filter_df = df.loc[df['taxid'] == 9606] 
filter_df

,unp_length,species,taxid,name,description,uniprot_id,sequence_identity,pdb_id,best_chain,unp_start,unp_end,entity_id
2,602,Homo sapiens,9606,CHLE_HUMAN,Cholinesterase,P06276,50,7aiy,A,1,602,1
6,602,Homo sapiens,9606,CHLE_HUMAN,Cholinesterase,P06276,40,7aiy,A,1,602,1